@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

font-face{
  font-family:'LuxyS';
  src:url('../fonts/Raleway-Heavy.ttf');
  font-style: normal;
}


.wellcome-row-view {
  margin: 30px;
}
.speech{
  font-size: 15px;
  font:'LuxyS';
}
.wellcome-image {
  display: block;
  border: 2px solid #bea373;
  padding: 10px;
  margin-left: 40px;
}


/*view management projects*/
@media (min-width: 992px) {
.col-project-link {
    width: 50%;
    float: left;
}
}

.col-project-link {
  position: relative;
  min-height: 1px;
  height: 400px;
}

.col-project-link img {
  height: 400px;
}


/* Custom block projects
*/
.block-grid-page{
  background-color: #F5F5F5;
}

.gestion-proyect-content h1{
  position: absolute;
  top: 30%;
  left: 40%;
  color: white;
  font-size: 35pt;
  text-shadow: 3px 40px 0px rgba(255,255,255, 0.2);
}

.title-block-custom h2 {
  text-align: left;
  border-bottom: 2px solid #bea373;
  padding-bottom: 10px;
  margin-bottom: 20px;
}


/*Year Links view--------------------------------------------*/
.container.year-links-view ul.year-list-view {

}

.container.year-links-view ul.year-list-view li:first-child {
  border: none;
}

.container.year-links-view ul.year-list-view li {
  border-left: 2px solid #B7A074;
  list-style: none;
  display: inline-block;;
  margin: 20px 0;
  padding: 0 20px;
  font-size: 20px;
}

.container.year-links-view div {
  display: inline-block;
}

/* notice-blok-home --------------------------------view */
.notice-block-home {
  background: url(../images/notices_view_bg.jpg);
  background-size: cover;
  padding: 25px 0;
}

.notice-content {
  display: inline-block;
  float: left;
  /*width: 33.3%;
  padding: 5px 10px;*/
  text-align: center;
  padding-bottom: 5px;
  
}

.notice-content .header-notice {
  position: relative;
  height: 250px;
}

.notice-content .body-notice {
  background-color: white;
  padding: 20px 30px;
}

.notice-content .header-notice .date-fields {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 30px;
  padding: 10px 15px;
  background-color: #224B5D;
  text-align: center;
  opacity: 0.7;
  color: white;
}

.notice-content .header-notice .image-field img {
  width: 100%;
  height: 250px;
}

.notice-content .body-notice p {
  padding-top: 15px;
}

.notice-content .body-notice h2 a {
  padding-top: 15px;
  color: #000;
}
.notice-content .body-notice h2{
  min-height: 85px;
}

.notice-content .body-notice a.views-more-link {
  background-color: #B6A176;
  padding: 5px;
  color: white;
}

/* Event1 Home wiew*/

.events-home .event-content1 img{

    max-width: 100%;
    width: 100%;
    height: auto;
    filter: brightness(0.6);
}

.events-home .event-content1 .date-fields {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 40px;
  padding: 10px 15px;
  background-color: #224B5D;
  text-align: center;
  opacity: 0.8;
  color: white;
}
.events-home .event-content1 .event-body {
    color: white;
    display: inline-block;
    position: absolute;
    top: 180px;
    left: 0px;
    padding: 10px 15px;
}

.events-home .event-content1 .event-body h2 a{
  color: white;
  float: left;
  padding-left: 11px;
}

.events-home .event-content1 .event-body p{
 text-align: left;
 padding-left: 11px;
 padding-right: 11px;
}

/*Antecedent*/
.year-antecedent {
  text-align: left;
  color: #033c52;
  font-size: 36pt;
  margin-bottom: 10px;
  margin-left: 30px;
  padding-bottom: 20px;
  padding-left: 0px;
  border-bottom: 1px solid #033c52;
}

.description{
  margin-bottom: 10px;
}
/*Mision Vision*/
.subtitulo {
  text-align: left;
  font-weight: bold;
  font-size: 12pt;
  color: #033c52;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 15px;
  border-bottom: 1px solid #033c52;
}
.img-director {
  display: block;
  text-align: center;
}

/*Carrera*/

.fotografia img{
  display: block;
  border: 2px solid #033c52;
  padding: 10px;
}

.text-director{
  border-bottom: 1px solid #bea373;
  text-align: center;
}

/*Student*/
.students-row{
  margin-bottom: : 50px;
}
.img-student {
  display: block;
  padding-left: 20px;
  padding-bottom: 70px;

}
.student-testimony{
  text-align: center;
  margin-top: 70px;
}

/*administrative*/

.admin-name{
  color: #033c52;
}

/*display: block;
  margin:0 auto 0 auto;*/
/*regulations -resolutions*/
.view-regulations{
  padding-left: 20px;
  margin-bottom: 20px;
}

.view-regulations h3{
  width: 60px;
  position: absolute;
  top: 130px;
  padding-left: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.view-regulations p {
  width: 150px;
    height: 50px;
    margin: 20px;
    padding-top: 10px;
    padding-left: 55px;
    background-color: #bea373;
    color: white;
    
}

.view-regulations p a{
    color: white;
}

.view-resolutions p{
  width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 55px;
    background-color: #bea373;
    color: white;
}
.view-resolutions p a{
    color: white;
}

/*list-admision*/

.list-admision h2{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #bea373;
    color: #033c52;
    font-size: 12pt;
}

.list-admision h2:hover{
  color: #bea373;
}
/*list-carees
.carrer-links-list list-group .list-group-item .list-carees h2
*/

.list-carees h2{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #bea373;
    color: #033c52;
    font-size: 12pt;
}

.list-carees h2:hover{
  color: #bea373;
}

/*archive-career*/
.inf-academic{
  width: 250px;
  border: 2px solid #bea373;
  margin-right: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}

.inf-academic .label{
  color:#bea373;
}

/*archive-career*/

.archive-career{
    background: #E6E5E5;
    margin-right: 50%;
    margin-left: 10%;
    margin-bottom: 10px;
    padding-left: 15%;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*list areas teachers*/
.list-areas-teachers h2{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #bea373;
    color: #033c52;
    font-size: 12pt;
}


/*Menu lateral-central*/
.button-menu-lateral{
  display: block;
    width: 150px;
    height: 35px;
    background: #bea373;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12pt;
    color: white;
}

.button-menu-lateral:hover{
 color:#033c52;
}

.heder-central-buttons {
  text-align: center;
}

.heder-central-buttons > div {
  display: inline-block;
  padding: 20px 15px 0;
}

.button-menu-central {
  display: inline-block;
    width: 150px;
    height: 35px;
    padding: 10px 20px 25px 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    color : #bea373;
    border: 3px solid #bea373;
}

.button-menu-central h2 {
  margin: 0;
  color : #bea373;
}


/*TITLE PORTAL*/
.title-portal{
    font-family: 'BebasNeue', sans-serif;
    font-size: 35px;
    margin-left: 40px;
    margin-right: 60px;
    font-weight: bold;
    line-height: 35px;
}

.list-areas-teachers h2:hover{
  color: #bea373;
}

/*Autorithies - Teachers*/
.view-authority{
  padding-right: 0px;
  padding-bottom: 20px;
}
.view-teacher{
  padding-right: 0px;
  padding-bottom: 20px;
}
.image-photography {
  display: block;
  border: 2px solid #033c52;
  padding: 5px;
  margin-right: 0px;
}
.name {
  text-align: center;
  font-size: 9pt;
}
.position {
  text-align: center;
  font-size: 9pt;
}

/* Carrer View
.carrer-links-list.list-group li, .list-group.common-question-list li {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ddd !important;
  margin-bottom: 0 !important;
}
*/

/* Carrer View*/
.list-carees-home h2{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ddd !important;
  margin-bottom: 0 !important;
  color: #033c52;
}
.list-carees h2:hover{
  color: #bea373;
}

/*Gallery site-map*/

.gallery-site-map h2{
  color: #838080;
  font-size: 12pt;
}

.gallery-site-map-2 img{
  margin-bottom: 20px;
}
/*.gallery-site-map h2{
  position: relative;
  bottom: 35px;
  margin-left: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 11pt;
}*/

.arrow_list ul{
  color:#033c52;
}


/**Footer menus**/
.footer-menu .navagation-footer-row {
  border-top: 2px solid #bea373;
  margin-top: 30px;
}
.footer-menu ul li {
  display: block !important;
}
.footer-menu ul li a {
  color: white;
  text-align: center;
}

.footer-menu .logo-footer {
  padding-top: 25px;
}

.footer-menu .logo-footer img {
  width: 100px;
}
